.plus{
height:50px;
width:50px;
border: none;
position:fixed;
top:550px;
left:95%;
border-radius: 10px;
font-size: xx-large;
color:aliceblue;
cursor:pointer;
background-color:  #9395D3;
}
.todo{
    display: flex;
}
.todo1{
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: start;
    padding-left: 70px;
   border: 1px solid black;
   height: 100px;
   border-radius: 15px;
   background-color: #FFFFFF;
   margin:30px;
   box-shadow: 0px 4px 4px 0px #00000040;
    gap:0;
    
}
#title{
    font-family: Jost;
font-weight: 600;
font-size: 20px;
line-height: 100%;
letter-spacing: 0%;

}
#detail{
    
   font-family: Jost;
font-weight: 400;
font-size: 20px;
line-height: 100%;
letter-spacing: 0%;
padding-bottom: 30px;

}

.icons {
    position: absolute;
    top: 35px;
    right: 100px;
    display: flex;
    gap: 8px;
}
.btn{
    border:none;
    background-color: #FFFFFF;
    font-size: larger;
    color: #9395D3;
    cursor: pointer;
}
.todo1 h3{
       position: relative;
       top:30px;
   }
.btn1{
    font-size:  28px;
    border: none;
     background-color: #FFFFFF;
      color: #9395D3;
      cursor: pointer;
}